dist: trusty
language: node_js
node_js:
- '5'
- '6'
- '7'
script:
- npm run lint
# - npm run docs # typedoc is not compatible with typescript 2.0 at the moment.

deploy:
  provider: npm
  email: kirill.konshin@gmail.com
  api_key: $NPM_TOKEN
  skip_cleanup: true
  on:
    node: 6
    tags: true
    repo: ringcentral/ringcentral-js-client
