dist: trusty
language: node_js
node_js:
- '5'
- '6'
- '7'
script:
- npm run lint
# - npm run docs # typedoc is not compatible with typescript 2.0 at the moment.

deploy:
  provider: npm
  email: kirill.konshin@gmail.com
  api_key:
    secure: iWeUBpPf91pPT3JiUlxgxdX2Bft5U3S3ZgtMJ+c3d50vv2antczIjhfV8tdtxRA313akBWwEfVEitjuYL3cxbrxCcnuxpudZgvczngc8H9vgixBwYIzZALHRWyP6Ok8rkQzASDDnVj9C4E1KJTwhKeu/sRWuM1XGqrT8UrtQa4E=
  skip_cleanup: true
  on:
    node: 6
    tags: true
    repo: ringcentral/ringcentral-js-client