
{
  "swagger": "2.0",
  "info": {
    "description": "<p>This is a beta interactive API explorer for the RingCentral Connect Platform. To use this service, you will need to have an account with the proper credentials to generate an OAuth2 access token.</p><p><h2>Quick Start</h2></p><ol><li>1) Go to <b>Authentication > /oauth/token</b></li><li>2) Enter <b>app_key, app_secret, username, password</b> fields and then click \"Try it out!\"</li><li>3) Upon success, your access_token is loaded and you can access any form requiring authorization.</li></ol><h2>Links</h2><ul><li><a href=\"https://github.com/ringcentral\" target=\"_blank\">RingCentral SDKs on Github</a></li><li><a href=\"mailto:devsupport@ringcentral.com\">RingCentral Developer Support Email</a></li></ul>",
    "version": "1.0",
    "title": "RingCentral Connect Platform API Explorer",
    "termsOfService": "https://developer.ringcentral.com"
    },
  "host": "platform.devtest.ringcentral.com",
  "basePath": "/restapi",
  "tags": [
    {
      "name": "OAuth2",
      "description": ""
    },

    {
      "name": "Authentication"
    },
    {
      "name": "API Versions"
    },
    {
      "name": "Account"
    },
    {
      "name": "Extension"
    },
    {
      "name": "Address Book"
    },
    {
      "name": "Answering Rules"
    },
    {
      "name": "Authorization Profile"
    },
    {
      "name": "Blocked Numbers"
    },
    {
      "name": "Call Log"
    },
    {
      "name": "Conferencing"
    },
    {
      "name": "Devices"
    },
    {
      "name": "Forwarding Numbers"
    },
    {
      "name": "Messages"
    },
    {
      "name": "Ordering"
    },
    {
      "name": "Presence"
    },
    {
      "name": "Reporting"
    },
    {
      "name": "RingOut"
    },
    {
      "name": "Client Application"
    },
    {
      "name": "Dictionary"
    },
    {
      "name": "Phone Number Parser"
    },
    {
      "name": "Phone Number Pool"
    },
    {
      "name": "Push Notifications"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/oauth/token": {
    "post": {
    "tags": [ "Authentication" ],
    "summary": "Get Token",
    "description": "<p>This endpoint supports two flows:</p><p> <h3>1) Resource Owner Password Credentials Flow:</h3> Issues new access and refresh tokens. Requests to this endpoint must be authenticated with HTTP Basic scheme. The following paramters are required for this flow: </p><ul style=\"margin:0 0 1em 2em\"> <li> <b>1) api_key</b> </li> <li> <b>2) api_secret</b> </li> <li> <b>3) username</b> </li> <li> <b>4) password</b> </li> </ul><p> This flow can use all the parameters below except for the <b>refresh_token</b> parameter which is used for the Refresh Token Flow decribed below. Since 1.0.4 (Release 5.13) </p><p> <h3>2) Refresh Token Flow:</h3> Issues new access and refresh tokens by previously issued refresh token. Requests to this endpoint must be authenticated with HTTP Basic scheme. The following parameters are required for this flow: </p><ul style=\"margin:0 0 1em 2em\"> <li> <b>1) api_key</b> </li> <li> <b>2) api_secret</b> </li> <li> <b>3) refresh_token</b> </li> </ul><p> The only formData paramter used for this flow is the <b>refresh_token</b> parameter. Since 1.0.4 (Release 5.13) </p>",
    "consumes": [ "application/x-www-form-urlencoded" ],
    "produces": [ "application/json", "application/xml" ],
    "parameters": [
      {
        "name": "app_key",
        "default": "",
        "type": "string",
        "description": "<b>Convenience to pre-populate the Authorization header only</b>",
        "required": false
      },
      {
        "name": "app_secret",
        "default": "",
        "type": "string",
        "description": "<b>Convenience to pre-populate the Authorization header only</b>",
        "required": false
      },
      {
        "name": "username",
        "type": "string",
        "in": "formData",
        "default": "",
        "description": "<b>Phone number linked to account or extension in account in E.164 format with or without leading \"+\" sign</b>",
        "required": false,
        "allowMultiple": false
      },
      {
        "name": "password",
        "type": "string",
        "in": "formData",
        "default": "",
        "description": "<b>User's password</b>",
        "required": false,
        "allowMultiple": false,
        "format": "password"
      },
      {
        "name": "extension",
        "type": "string",
        "in": "formData",
        "description": "Optional. Extension short number. If company number is specified as a username, and \"extension\" is not specified, the server will attempt to authenticate client as main company administrator",
        "required": false,
        "allowMultiple": false
      },
      {
        "name": "grant_type",
        "default": "password",
        "type": "string",
        "in": "formData",
        "description": "<b>Must hold \"password\" value for Resource Owner Credentials flow</b>",
        "required": false,
        "allowMultiple": false
      },
      {
        "name": "access_token_ttl",
        "in": "formData",
        "description": "Optional. Access token lifetime in seconds; the possible values are from 600 sec (10 min) to 3600 sec (1 hour). The default value is 3600 sec. If the value specified exceeds the default one, the default value is set. If the value specified is less than 600 seconds, the minimum value (600 sec) is set",
        "type": "integer",
        "format": "int64"
      },
      {
        "name": "refresh_token_ttl",
        "in": "formData",
        "description": "Optional. Refresh token lifetime in seconds; default is 604800 sec (1 week). If the value specified exceeds the default one, the default value is set",
        "type": "integer",
        "format": "int64"
      },
      {
        "name": "scope",
        "type": "string",
        "default": "",
        "description": "List of API permissions to be used with access token. Can be omitted when requesting all permissions defined during the application registration phase",
        "in": "formData"
      },
      {
        "name": "refresh_token",
        "type": "string",
        "default": "",
        "description": "Previously issued refresh token. This is the only formData field used for the Refresh Token Flow. It is not used for the Resource Owner Password Credentials Flow",
        "in": "formData"
      }
    ],
    "responses": {
      "400": {
        "description": "<ul> <li>1) invalid_request: Unsupported grant type</li> <li>2) invalid_client: Bad Application Release Status: Blocked</li> </ul>"
      },
      "415": {
        "description": "Unsupported Media Type"
      },
      "429": {
        "description": "Request rate exceeded"
      }
      }
    }
    },
    "/oauth/revoke": {
      "post": {
        "tags": [ "Authentication" ],
        "summary": "Revoke Token",
        "description": "Since 1.0.5 (Release 5.14)Revokes access/refresh token. Requests to this endpoint <b>must</b> be authenticated with HTTP Basic scheme using the application key and application secret as login and password, correspondingly. ",
        "consumes": [ "application/x-www-form-urlencoded" ],
        "parameters": [
          {
            "name": "app_key",
            "default": "",
            "type": "string",
            "description": "Used to populate the Authorization header",
            "required": true
          },
          {
            "name": "app_secret",
            "default": "",
            "type": "string",
            "description": "Used to populate the Authorization header",
            "required": true
          },
          {
            "name": "token",
            "type": "string",
            "in": "formData",
            "description": "Active access or refresh token to be revoked",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },


    "/oauth/token" : {

    "post" : {
          "tags": [ "Authentication" ],
          "summary": "Authorization Code Flow",
          "operationId": "loadTokenAuthCode",
          "description": "<p style='font-style:italic;'></p><p></p><h4>API Group</h4><p>Auth</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            {
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/"
              },
              "required": true
            }

          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetTokenInfoResponse"
              }
            }
          }
      },"post" : {
          "tags": [ "Authentication" ],
          "summary": "Password Flow",
          "operationId": "loadTokenPassword",
          "description": "<p style='font-style:italic;'></p><p></p><h4>API Group</h4><p>Auth</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            {
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/"
              },
              "required": true
            }

          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetTokenInfoResponse"
              }
            }
          }
      },"post" : {
          "tags": [ "Authentication" ],
          "summary": "Refresh Token Flow",
          "operationId": "updateToken",
          "description": "<p style='font-style:italic;'></p><p></p><h4>API Group</h4><p>Auth</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            {
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/"
              },
              "required": true
            }

          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetTokenInfoResponse"
              }
            }
          }
      },"post" : {
          "tags": [ "Authentication" ],
          "summary": "Client Credentials Flow",
          "operationId": "loadTokenClientCredentials",
          "description": "<p style='font-style:italic;'>Since 1.0.12 (Release 6.4)</p><p>This is the custom authorization flow used for partner applications. There are two types of custom authorization sessions: initial sign-up session and account-centric session, which are initialized differently and have some limitations.</p><h4>API Group</h4><p>Auth</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            {
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/"
              },
              "required": true
            }

          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/GetTokenClientCredentialsResponse"
              }
            }
          }
      }},
    "/" : {

    "get" : {
          "tags": [ "API Versions" ],
          "summary": "Get API Versions",
          "operationId": "",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version(s) and server info.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/Versions"
              }
            }
          }
      }},
    "/{apiVersion}" : {

    "get" : {
          "tags": [ "API Versions" ],
          "summary": "Get Version Info",
          "operationId": "",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns current API version info by apiVersion.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "apiVersion",
              "type": "string",
              "in": "path",
              "description": "API version to be requested, for example 'v1.0'",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/Version"
              }
            }
          }
      }},
    "/v1.0/account" : {

    "post" : {
          "tags": [ "Account" ],
          "summary": "Create Account",
          "operationId": "createAccount",
          "description": "<p style='font-style:italic;'>Since 1.0.10 (Release 6.2)</p><p>Creates the account in Initial state.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Accounts</td><td>Managing accounts: creating new accounts, viewing and updating account information, deleting existing accounts</td></tr><tr><td class='code'>EditAccounts</td><td>Viewing and updating user account info (including name, business name, address and phone number/account number)</td></tr><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr><tr><td class='code'>EditExtensions</td><td>Viewing and updating user extension info (includes extension name, number, email and phone number, assigned phone numbers, devices and other extension settings)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            {
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/CreateAccountRequest"
              },
              "required": true
            }

          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Info",
          "operationId": "loadAccount",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns basic information about a particular RingCentral customer account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/business-address" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Business Address",
          "operationId": "loadAccountBusinessAddress",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountInfo"
              }
            }
          }
      },"put" : {
          "tags": [ "Account" ],
          "summary": "Update Account Business Address",
          "operationId": "updateAccountBusinessAddress",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditAccounts</td><td>Viewing and updating user account info (including name, business name, address and phone number/account number)</td></tr><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [
            {
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/ModifyAccountBusinessAddressRequest"
              },
              "required": true
            }

          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountBusinessAddress"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/dialing-plan" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Dialing Plan",
          "operationId": "listDialingPlans",
          "description": "<p style='font-style:italic;'></p><p>Returns list of countries which can be selected for a dialing plan (to call short numbers and special services).</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "page",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DialingPlanInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/phone-number" : {

    "post" : {
          "tags": [ "Account" ],
          "summary": "Provision Phone Numbers",
          "operationId": "provisionPhoneNumber",
          "description": "<p style='font-style:italic;'>Since 1.0.11 (Release 6.3)</p><p>Provisions a phone number.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditAccounts</td><td>Viewing and updating user account info (including name, business name, address and phone number/account number)</td></tr><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/ProvisionPhoneNumbers"
              },
              "required": true
            }

          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/PhoneNumberInfo"
              }
            }
          }
      },"get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Phone Numbers",
          "operationId": "listAccountPhoneNumbers",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of phone numbers assigned to the RingCentral customer account. Both company-level and extension-level numbers are returned.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "page",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            },
            {
              "name": "usageType",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["MainCompanyNumber","AdditionalCompanyNumber","CompanyNumber","DirectNumber","CompanyFaxNumber","ForwardedNumber"],

              "in": "query",
              "description": "Usage type of the phone number",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountPhoneNumbers"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/phone-number/{phoneNumberId}" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Phone Number(s) by ID",
          "operationId": "loadAccountPhoneNumber",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "phoneNumberId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a phone number",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/PhoneNumberInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/service-info" : {

    "get" : {
          "tags": [ "Account" ],
          "summary": "Get Account Service Info",
          "operationId": "loadServiceInfo",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns the information about service plan, available features and limitations for a particular RingCentral customer account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountServiceInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension List",
          "operationId": "listExtensions",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns the list of extensions created for a particular account. All types of extensions are included in this list.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "page",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            },
            {
              "name": "status",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Enabled","Disabled","NotActivated","Unassigned"],

              "in": "query",
              "description": "Extension current state. Multiple values are supported. If 'Unassigned' is specified, then extensions without extensionNumber are returned. If not specified, then all extensions are returned",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["User","FaxUser","VirtualUser","DigitalUser","Department","Announcement","Voicemail","SharedLinesGroup","PagingOnlyGroup","IvrMenu","ApplicationExtension","ParkLocation"],

              "in": "query",
              "description": "Extension type. Multiple values are supported",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionList"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension Info",
          "operationId": "loadExtensionInfo",
          "description": "<p style='font-style:italic;'>Since 1.0.0</p><p>Returns basic information about a particular extension of an account.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionInfo"
              }
            }
          }
    }

    },
    "/v1.0/account/{accountId}/extension/{extensionId}/phone-number" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension Phone Number List",
          "operationId": "listExtensionPhoneNumbers",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of phone numbers that are used by a particular extension, and can be filtered by the phone number type. The returned list contains all numbers which are directly mapped to a given extension plus the features and also company-level numbers which may be used when performing different operations on behalf of this extension.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "usageType",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["MainCompanyNumber","AdditionalCompanyNumber","CompanyNumber","DirectNumber","CompanyFaxNumber","ForwardedNumber"],

              "in": "query",
              "description": "Usage type of the phone number",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionPhoneNumbers"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/grant" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension Grant List",
          "operationId": "listExtensionGrants",
          "description": "<p style='font-style:italic;'></p><p>Returns the list of extension grants.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "page",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ExtensionGrantList"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/profile-image" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension Profile Image",
          "operationId": "loadExtensionProfileImage",
          "description": "<p style='font-style:italic;'></p><p>Returns the extension profile image.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      },"post" : {
          "tags": [ "Extension" ],
          "summary": "Create Extension Profile Image",
          "operationId": "createExtensionProfileImage",
          "description": "<p style='font-style:italic;'></p><p>Returns the extension profile image.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditExtensions</td><td>Viewing and updating my extension info (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>API Group</h4><p>High</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      },"put" : {
          "tags": [ "Extension" ],
          "summary": "Update Extension Profile Image",
          "operationId": "updateExtensionProfileImage",
          "description": "<p style='font-style:italic;'></p><p>Updates the extension profile image.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditExtensions</td><td>Viewing and updating my extension info (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>API Group</h4><p>High</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/profile-image/{scaleSize}" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Extension Profile Image",
          "operationId": "loadExtensionScaledProfileImage",
          "description": "<p style='font-style:italic;'></p><p>Returns the scaled profile image of an extension.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "scaleSize",
              "type": "string",
              "in": "path",
              "description": "Optional. Dimensions of a profile image which will be returned in response. The possible values are '90x90'/ '195x195' / '584x584'",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/department/{departmentId}/members" : {

    "get" : {
          "tags": [ "Extension" ],
          "summary": "Get Department Member List",
          "operationId": "listDepartmentMembers",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "departmentId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a Department extension (same as extensionId but only the ID of a department extension is valid)",
              "required": true
            },
            {
              "name": "page",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/DepartmentMembers"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact" : {

    "post" : {
          "tags": [ "Address Book" ],
          "summary": "Create Contact",
          "operationId": "createContact",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Contacts</td><td>Creating, viewing, editing and deleting user personal contacts</td></tr><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/PersonalContactInfo"
              }
            }
          }
      },"get" : {
          "tags": [ "Address Book" ],
          "summary": "Get Address Book",
          "operationId": "listContacts",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "startsWith",
              "type": "string",

              "in": "query",
              "description": "If specified, only contacts whose First name or Last name start with the mentioned substring are returned. Case-insensitive",
              "required": false
            },
            {
              "name": "sortBy",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["FirstName","LastName","Company"],

              "in": "query",
              "description": "Sorts results by the specified property. The default is 'First Name'",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/ContactList"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/address-book/contact/{contactId}" : {

    "get" : {
          "tags": [ "Address Book" ],
          "summary": "Get Contact(s) by ID",
          "operationId": "loadContact",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "contactId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a contact record in the RingCentral database",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/PersonalContactInfo"
              }
            }
          }
      },"put" : {
          "tags": [ "Address Book" ],
          "summary": "Update Contact(s) by ID",
          "operationId": "updateContact",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Contacts</td><td>Creating, viewing, editing and deleting user personal contacts</td></tr><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "contactId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a contact record in the RingCentral database",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/PersonalContactInfo"
              }
            }
          }
      },"delete" : {
          "tags": [ "Address Book" ],
          "summary": "Delete Contact(s) by ID",
          "operationId": "deleteContact",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Contacts</td><td>Creating, viewing, editing and deleting user personal contacts</td></tr><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "contactId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a contact record in the RingCentral database",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/address-book/group" : {

    "get" : {
          "tags": [ "Address Book" ],
          "summary": "Get Group List",
          "operationId": "listAddressBookGroups",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AddressBookGroups"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/address-book/group/{groupId}" : {

    "get" : {
          "tags": [ "Address Book" ],
          "summary": "Get Group(s) by ID",
          "operationId": "loadAddressBookGroup",
          "description": "<p style='font-style:italic;'>Since 1.0.4 (Release 5.13)</p><p>Returns a group or several groups description, including the user-defined group name, number of contacts in the group, and optional note. Batch request is supported, see Batch Requests for details.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "groupId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a group in an address book",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AddressBookGroupInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/address-book-sync" : {

    "get" : {
          "tags": [ "Address Book" ],
          "summary": "Address Book Synchronization",
          "operationId": "syncAddressBook",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "syncType",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["FSync","ISync"],

              "in": "query",
              "description": "Type of synchronization. The default value is 'FSync'",
              "required": false
            },
            {
              "name": "syncToken",
              "type": "string",

              "in": "query",
              "description": "Value of syncToken property of the last sync request response",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Number of records per page to be returned. The max number of records is 250, which is also the default. For FSync — if the number of records exceeds the parameter value (either specified or default), all of the pages can be retrieved in several requests. For ISync — if the number of records exceeds the page size, the number of incoming changes to this number is limited",
              "required": false
            },
            {
              "name": "pageId",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Internal identifier of a page. It can be obtained from the 'nextPageId' parameter passed in response body",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AddressBookSync"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/favorite" : {

    "get" : {
          "tags": [ "Address Book" ],
          "summary": "Get Favorite Contacts",
          "operationId": "loadFavoriteContacts",
          "description": "<p style='font-style:italic;'>Since 1.0.25 (Release 8.1)</p><p>Returns favorite contacts of the current extension. Favorite contacts include both company contacts (extensions) and personal contacts (address book records).</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/FavoriteContacts"
              }
            }
          }
      },"put" : {
          "tags": [ "Address Book" ],
          "summary": "Update Favorite Contacts",
          "operationId": "updateFavoriteContacts",
          "description": "<p style='font-style:italic;'>Since 1.0.25 (Release 8.1)</p><p>Updates favorite contacts of the current extension. Favorite contacts include both company contacts (extensions) and personal contacts (address book records).</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>Contacts</td><td>Creating, viewing, editing and deleting user personal contacts</td></tr><tr><td class='code'>ReadContacts</td><td>Viewing user personal contacts</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/UpdateFavoriteContactsRequest"
              },
              "required": true
            }

          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/FavoriteContactsUpdate"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/answering-rule" : {

    "get" : {
          "tags": [ "Answering Rules" ],
          "summary": "Get Answering Rules List",
          "operationId": "loadAnsweringRulesList",
          "description": "<p style='font-style:italic;'>Since 1.0.15 (Release 7.0)</p><p>Returns the extension answering rules.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AnsweringRulesList"
              }
            }
          }
      },"post" : {
          "tags": [ "Answering Rules" ],
          "summary": "Create Answering Rule",
          "operationId": "createAnsweringRuleInfo",
          "description": "<p style='font-style:italic;'>Since 1.0.24 (Release 8.0)</p><p>Creates a custom answering rule for a particular caller ID.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditExtensions</td><td>Viewing and updating my extension info (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },{
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/CreateAnsweringRuleRequest"
              },
              "required": true
            }

          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AnsweringRuleInfo"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/answering-rule/{ruleId}" : {

    "get" : {
          "tags": [ "Answering Rules" ],
          "summary": "Get Answering Rule by ID",
          "operationId": "loadAnsweringRuleInfo",
          "description": "<p style='font-style:italic;'>Since 1.0.15 (Release 7.0)</p><p>Returns an answering rule by ID.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "ruleId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an answering rule. The value can be standard digital ID or specific ID - either business-hours-rule or after-hours-rule",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AnsweringRuleInfo"
              }
            }
          }
      },"put" : {
          "tags": [ "Answering Rules" ],
          "summary": "Update Answering Rule by ID",
          "operationId": "updateAnsweringRuleInfo",
          "description": "<p style='font-style:italic;'>Since 1.0.24 (Release 8.0)</p><p>Updates a custom answering rule for a particular caller ID.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditExtensions</td><td>Viewing and updating my extension info (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "ruleId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an answering rule",
              "required": true
            },{
              "name": "body",
              "in": "body",
              "description": "JSON body",
              "schema": {
                "$ref" : "#/definitions/UpdateAnsweringRuleRequest"
              },
              "required": true
            }

          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AnsweringRuleInfo"
              }
            }
          }
      },"delete" : {
          "tags": [ "Answering Rules" ],
          "summary": "Delete Answering Rule by ID",
          "operationId": "deleteAnsweringRuleInfo",
          "description": "<p style='font-style:italic;'>Since 1.0.25 (Release 8.1)</p><p>Deletes a custom answering rule by a particular ID.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditExtensions</td><td>Viewing and updating my extension info (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "ruleId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an answering rule",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/business-hours" : {

    "get" : {
          "tags": [ "Answering Rules" ],
          "summary": "Get User Business Hours",
          "operationId": "loadUserBusinessHours",
          "description": "<p style='font-style:italic;'>Since 1.0.15 (Release 7.0)</p><p>Returns the extension user hours when answering rules are to be applied.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/UserBusinessHours"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/authz-profile" : {

    "get" : {
          "tags": [ "Authorization Profile" ],
          "summary": "Get User Permissions",
          "operationId": "loadUserPermissions",
          "description": "<p style='font-style:italic;'>Since 1.0.22 (Release 7.5)</p><p>Returns a list of user permissions granted at authorization procedure.</p><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AuthorizationProfile"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/authz-profile/check" : {

    "get" : {
          "tags": [ "Authorization Profile" ],
          "summary": "Check User Permissions",
          "operationId": "loadUserPermission",
          "description": "<p style='font-style:italic;'>Since 1.0.22 (Release 7.5)</p><p>Checks if a certain user permission is activated for the particular extension.</p><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "permissionId",
              "type": "string",

              "in": "query",
              "description": "Permission to check",
              "required": false
            },
            {
              "name": "targetExtensionId",
              "type": "string",

              "in": "query",
              "description": "Optional. Internal identifier of an extension for which user permissions are to be checked. The default value is the currently logged-in extension",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AuthorizationProfileCheck"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/blocked-number" : {

    "post" : {
          "tags": [ "Blocked Numbers" ],
          "summary": "Add Blocked Number",
          "operationId": "blockNumber",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditExtensions</td><td>Viewing and updating my extension info (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/BlockedNumberInfo"
              }
            }
          }
      },"get" : {
          "tags": [ "Blocked Numbers" ],
          "summary": "Get Blocked Number List",
          "operationId": "listBlockedNumbers",
          "description": "<p style='font-style:italic;'>Since 1.0.2</p><p>Returns the list of phone numbers which are specified by the user to block inbound calls and SMS messages.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/BlockedNumbersList"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/extension/{extensionId}/blocked-number/{blockedNumberId}" : {

    "get" : {
          "tags": [ "Blocked Numbers" ],
          "summary": "Get Blocked Number(s) by ID",
          "operationId": "loadBlockedNumber",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadAccounts</td><td>Viewing user account info (including name, business name, address and phone number/account number)</td></tr></tbody></table><h4>API Group</h4><p>Light</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "blockedNumberId",
              "type": "string",
              "in": "path",
              "description": "Internal identifiers of a blocked number list entry",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/BlockedNumberInfo"
              }
            }
          }
      },"put" : {
          "tags": [ "Blocked Numbers" ],
          "summary": "Update Blocked Number(s) by ID",
          "operationId": "updateBlockedNumber",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditExtensions</td><td>Viewing and updating my extension info (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "blockedNumberId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a blocked number list entry",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/BlockedNumberInfo"
              }
            }
          }
      },"delete" : {
          "tags": [ "Blocked Numbers" ],
          "summary": "Delete Blocked Number(s) by ID",
          "operationId": "unblockNumber",
          "description": "<p style='font-style:italic;'></p><p></p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>EditExtensions</td><td>Viewing and updating my extension info (includes extension name, number, email and phone number)</td></tr></tbody></table><h4>API Group</h4><p>Medium</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "blockedNumberId",
              "type": "string",
              "in": "path",
              "description": "Internal identifiers of a blocked number list entry",
              "required": true
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/active-calls" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Account Active Calls",
          "operationId": "listAccountActiveCalls",
          "description": "<p style='font-style:italic;'>Since 1.0.13 (Release 6.5)</p><p>Returns records of all calls that are in progress, ordered by start time in descending order.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "direction",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],

              "in": "query",
              "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Voice","Fax"],

              "in": "query",
              "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. Default value is '1'.",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountActiveCalls"
              }
            }
          }
      }},
    "/v1.0/account/{accountId}/call-log" : {

    "get" : {
          "tags": [ "Call Log" ],
          "summary": "Get Call Log Records by Filter",
          "operationId": "loadAccountCallLog",
          "description": "<p style='font-style:italic;'>Since 1.0.3 (Release 5.11)</p><p>Returns call log records filtered by the specified parameters.</p><h4>Required Permissions</h4><table class='fullwidth'><thead><tr><th>Permission</th><th>Description</th></tr></thead><tbody><tr><td class='code'>ReadCallLog</td><td>Viewing user call logs</td></tr></tbody></table><h4>API Group</h4><p>Heavy</p>",
          "consumes": [ "application/json" ],
          "produces": [ "application/json" ],
          "parameters" : [

            {
              "name": "accountId",
              "type": "string",
              "in": "path",
              "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
              "required": true,
              "default": "~"
            },
            {
              "name": "extensionNumber",
              "type": "string",

              "in": "query",
              "description": "Extension number of a user. If specified, returns call log for a particular extension only. Cannot be specified together with the phoneNumber filter",
              "required": false
            },
            {
              "name": "phoneNumber",
              "type": "string",

              "in": "query",
              "description": "Phone number of a caller/call recipient. If specified, returns all calls (both incoming and outcoming) with the mentioned phone number. Cannot be specified together with the extensionNumber filter",
              "required": false
            },
            {
              "name": "direction",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Inbound","Outbound"],

              "in": "query",
              "description": "The direction for the result records. It is allowed to specify more than one direction. If not specified, both inbound and outbound records are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "type",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Voice","Fax"],

              "in": "query",
              "description": "Call type of a record. It is allowed to specify more than one type. If not specified, all call types are returned. Multiple values are accepted",
              "required": false
            },
            {
              "name": "view",
              "type": "array",
              "items": {
                     "type":"string"
                  },
              "collectionFormat": "multi",
              "allowEmptyValue" : true,
              "enum": ["Simple","Detailed"],

              "in": "query",
              "description": "The default value is 'Simple' for both account and extension call log",
              "required": false
            },
            {
              "name": "withRecording",
              "type": "boolean",

              "in": "query",
              "description": "'True' if only recorded calls have to be returned",
              "required": false
            },
            {
              "name": "dateFrom",
              "type": "string",
			  "format": "date-time",
              "in": "query",
              "description": "The start datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is dateTo minus 24 hours",
              "required": false
            },
            {
              "name": "dateTo",
              "type": "string",
			  "format": "date-time",
              "in": "query",
              "description": "The end datetime for resulting records in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. The default value is current time",
              "required": false
            },
            {
              "name": "page",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page number to retrieve. Only positive number values are allowed. The default value is '1'",
              "required": false
            },
            {
              "name": "perPage",
              "type": "integer",
			  "format": "int64",
              "in": "query",
              "description": "Indicates the page size (number of items). If not specified, the value is '100' by default.",
              "required": false
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "schema": {
                "$ref": "#/definitions/AccountCallLog"
              }
            }
          }
      },"delete" : {
          "tags": [ "Call Log" ],
          "summary": "Delete Call Log Records by Filter",
          "operationId": "deleteAccountCallLog",
[...]
