{
  "swagger": "2.0",
  "info": {
    "version": "v1.0",
    "title": "RingCentral API",
    "description": "RingCentral Connect Platform API",
    "termsOfService": "http://www.ringcentral.com/legal/eulatos.html"
  },
  "host": "platform.devtest.ringcentral.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "securityDefinitions": {
    "oauth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://platform.devtest.ringcentral.com/restapi/oauth/authorize",
      "tokenUrl": "https://platform.devtest.ringcentral.com/restapi/oauth/token",
      "scopes": {
        "default": "default permissions"
      }
    }
  },
  "security": [
    {
      "oauth": [
        "default"
      ]
    }
  ],
  "parameters": {
    "accountId": {
      "name": "accountId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a RingCentral account or tilde (~) to indicate the account logged-in within the current session",
      "default": "~"
    },
    "answeringRuleId": {
      "name": "answeringRuleId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an answering rule. The value can be standard digital ID or specific ID - either business-hours-rule or after-hours-rule"
    },
    "attachmentId": {
      "name": "attachmentId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a message attachment"
    },
    "blockedNumberId": {
      "name": "blockedNumberId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a blocked number list entry"
    },
    "brandId": {
      "name": "brandId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a brand"
    },
    "callLogId": {
      "name": "callLogId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a call log record"
    },
    "companyPagerId": {
      "name": "companyPagerId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a pager message"
    },
    "contactId": {
      "name": "contactId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a contact record in the RingCentral database"
    },
    "countryId": {
      "name": "countryId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a country"
    },
    "customDataKey": {
      "name": "customDataKey",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Custom data access key. The number of unique custom data keys is limited to 100 keys per extension, summarized for all the applications. For example, if you have created 50 custom data keys under the Android mobile client application for the particular extension, then logged in the iOS application and created another 50 keys, the web client application won't be allowed to create any custom data key for that extension"
    },
    "departmentId": {
      "name": "departmentId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a Department extension (same as extensionId but only the ID of a department extension is valid)"
    },
    "deviceId": {
      "name": "deviceId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a device"
    },
    "extensionId": {
      "name": "extensionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an extension or tilde (~) to indicate the extension assigned to the account logged-in within the current session",
      "default": "~"
    },
    "faxId": {
      "name": "faxId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a fax message"
    },
    "groupId": {
      "name": "groupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a group in an address book"
    },
    "languageId": {
      "name": "languageId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a language"
    },
    "lineId": {
      "name": "lineId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a line"
    },
    "meetingId": {
      "name": "meetingId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a meeting"
    },
    "messageId": {
      "name": "messageId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a message"
    },
    "orderId": {
      "name": "orderId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an order"
    },
    "phoneNumberId": {
      "name": "phoneNumberId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a phone number"
    },
    "recordingId": {
      "name": "recordingId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of recording (returned in Call Log)"
    },
    "ringoutId": {
      "name": "ringoutId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a RingOut call"
    },
    "scaleSize": {
      "name": "scaleSize",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Dimensions of a profile image which will be returned in response.",
      "enum": [
        "90x90",
        "195x195",
        "584x584"
      ]
    },
    "secretQuestionId": {
      "name": "secretQuestionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a secret question"
    },
    "servicePlanId": {
      "name": "servicePlanId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a service plan"
    },
    "smsId": {
      "name": "smsId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an SMS message"
    },
    "stateId": {
      "name": "stateId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a state"
    },
    "subscriptionId": {
      "name": "subscriptionId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a subscription"
    },
    "timezoneId": {
      "name": "timezoneId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a timezone"
    },
    "userGroupId": {
      "name": "userGroupId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of an user group"
    },
    "verificationCallId": {
      "name": "verificationCallId",
      "in": "path",
      "required": true,
      "type": "string",
      "description": "Internal identifier of a verification call"
    }
  },
  "definitions": {
    "AccountInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of an account"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of an account"
        },
        "mainNumber": {
          "type": "string",
          "description": "Main phone number of the current account"
        },
        "operator": {
          "$ref": "#/definitions/ExtensionInfo",
          "description": "Operator's extension information. This extension will receive all calls and messages intended for the operator"
        },
        "partnerId": {
          "type": "string",
          "description": "Additional account identifier, developed and applied by the client"
        },
        "serviceInfo": {
          "$ref": "#/definitions/ServiceInfo",
          "description": "Account service information, including brand, service plan and billing plan"
        },
        "setupWizardState": {
          "type": "string",
          "description": "Specifies account configuration wizard state (web service setup). The default value is 'NotStarted'",
          "enum": [
            "NotStarted",
            "Incomplete",
            "Completed"
          ]
        },
        "status": {
          "type": "string",
          "description": "Status of the current account",
          "enum": [
            "Confirmed",
            "Disabled"
          ]
        },
        "statusInfo": {
          "$ref": "#/definitions/StatusInfo",
          "description": "Status information (reason, comment, lifetime). Returned for 'Disabled' status only"
        }
      }
    },
    "AccountLimits": {
      "type": "object",
      "properties": {
        "freeSoftPhoneLinesPerExtension": {
          "type": "integer",
          "description": "The maximum number of free softphone digital lines per user extension"
        },
        "meetingSize": {
          "type": "integer",
          "description": "The maximum number of participants in RingCentral Meeting hosted by this account's user"
        },
        "maxMonitoredExtensionsPerUser": {
          "type": "integer",
          "description": "The maximum number of extensions which can be included in the list of users monitored for Presence"
        }
      }
    },
    "AddonInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Addon identifier. For HardPhones of certain types, which are compatible with this addon identifier"
        },
        "count": {
          "type": "integer",
          "description": "Number of addons. For HardPhones of certain types, which are compatible with such addon identifier"
        }
      }
    },
    "AnsweringRuleInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Canonical URI to the answering rule resource"
        },
        "id": {
          "type": "string",
          "description": "Internal identifier of an asnwering rule"
        },
        "type": {
          "type": "string",
          "description": "Type of an answering rule",
          "enum": [
            "BusinessHours",
            "AfterHours",
            "Custom"
          ]
        },
        "name": {
          "type": "string",
          "description": "Name of an answering rule specified by user"
        },
        "enabled": {
          "type": "boolean",
          "description": "Specifies if an answering rule is active or inactive"
        },
        "schedule": {
          "$ref": "#/definitions/ScheduleInfo",
          "description": "Schedule when an answering rule should be applied"
        },
        "calledNumbers": {
          "type": "array",
          "description": "Answering rules are applied when calling to selected number(s)",
          "items": {
            "$ref": "#/definitions/AnsweringRuleInfo.CalleeInfo"
          }
        },
        "callers": {
          "type": "array",
          "description": "Answering rules are applied when calls are received from specified caller(s)",
          "items": {
            "$ref": "#/definitions/AnsweringRuleInfo.CallerInfo"
          }
        },
        "callHandlingAction": {
          "type": "string",
          "description": "Specifies how incoming calls are forwarded",
          "enum": [
            "ForwardCalls",
            "TakeMessagesOnly",
            "PlayAnnouncementOnly",
            "UnconditionalForwarding"
          ]
        },
        "forwarding": {
          "$ref": "#/definitions/ForwardingInfo",
          "description": "Forwarding parameters. Returned if 'ForwardCalls' is specified in 'callHandlingAction'. These settings determine the forwarding numbers to which the call will be forwarded"
        },
        "unconditionalForwarding": {
          "$ref": "#/definitions/UnconditionalForwardingInfo",
          "description": "Unconditional forwarding parameters. Returned if 'UnconditionalForwarding' is specified in 'callHandlingAction'"
        },
        "voicemail": {
          "$ref": "#/definitions/VoicemailInfo",
          "description": "Specifies whether to take a voicemail and who should do it"
        }
      }
    },
    "AnsweringRuleInfo.CalleeInfo": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Called phone number"
        }
      }
    },
    "AnsweringRuleInfo.CallerInfo": {
      "type": "object",
      "properties": {
        "callerId": {
          "type": "string",
          "description": "Phone number of a caller"
        },
        "name": {
          "type": "string",
          "description": "Contact name of a caller"
        }
      }
    },
    "AttachmentInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Link to custom data attachment"
        },
        "contentType": {
          "type": "string",
          "description": "Type of custom data attachment, see also MIME Types"
        }
      }
    },
    "BillingPlanInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a billing plan"
        },
        "name": {
          "type": "string",
          "description": "Billing plan name"
        },
        "durationUnit": {
          "type": "string",
          "description": "Duration period",
          "enum": [
            "Month",
            "Day"
          ]
        },
        "duration": {
          "type": "string",
          "description": "Number of duration units"
        },
        "type": {
          "type": "string",
          "description": "Billing plan type",
          "enum": [
            "Initial",
            "Regular",
            "Suspended",
            "Trial",
            "TrialNoCC",
            "Free"
          ]
        }
      }
    },
    "BlockedNumberInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Standard resource properties ID and canonical URI, see the section called “Resource Identification Properties”"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a blocked number resource"
        },
        "name": {
          "type": "string",
          "description": "Name assigned by a user to a blocked phone number"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number to be blocked"
        }
      }
    },
    "BrandInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a brand"
        },
        "name": {
          "type": "string",
          "description": "Brand name, for example \"RingCentral UK\", \"ClearFax\""
        },
        "homeCountry": {
          "$ref": "#/definitions/CountryInfo",
          "description": "Home country information"
        }
      }
    },
    "BusinessAddressInfo": {
      "type": "object",
      "properties": {
        "country": {
          "type": "string",
          "description": "Name of a country"
        },
        "state": {
          "type": "string",
          "description": "Name of a state/province"
        },
        "city": {
          "type": "string",
          "description": "Name of a city"
        },
        "street": {
          "type": "string",
          "description": "Street address"
        },
        "zip": {
          "type": "string",
          "description": "Zip code"
        }
      }
    },
    "BusinessHour.ScheduleInfo": {
      "type": "object",
      "properties": {
        "weeklyRanges": {
          "$ref": "#/definitions/WeeklyScheduleInfo",
          "description": "Weekly schedule"
        }
      }
    },
    "CallLogInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a cal log record"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a call log record"
        },
        "sessionId": {
          "type": "string",
          "description": "Internal identifier of a call session"
        },
        "from": {
          "$ref": "#/definitions/CallerInfo",
          "description": "Caller information"
        },
        "to": {
          "$ref": "#/definitions/CallerInfo",
          "description": "Callee information"
        },
        "type": {
          "type": "string",
          "description": "Call type",
          "enum": [
            "Voice",
            "Fax"
          ]
        },
        "direction": {
          "type": "string",
          "description": "Call direction",
          "enum": [
            "Inbound",
            "Outbound"
          ]
        },
        "action": {
          "type": "string",
          "description": "Action description of the call operation",
          "enum": [
            "Unknown",
            "Phone Call",
            "Phone Login",
            "Incoming Fax",
            "Accept Call",
            "FindMe",
            "FollowMe",
            "Outgoing Fax",
            "Call Return",
            "Calling Card",
            "Ring Directly",
            "RingOut Web",
            "VoIP Call",
            "RingOut PC",
            "RingMe",
            "Transfer",
            "411 Info",
            "Emergency",
            "E911 Update",
            "Support",
            "RingOut Mobile"
          ]
        },
        "result": {
          "type": "string",
          "description": "Status description of the call operation",
          "enum": [
            "Unknown",
            "ResultInProgress",
            "Missed",
            "Call accepted",
            "Voicemail",
            "Rejected",
            "Reply",
            "Received",
            "Receive Error",
            "Fax on Demand",
            "Partial Receive",
            "Blocked",
            "Call connected",
            "No Answer",
            "International Disabled",
            "Busy",
            "Send Error",
            "Sent",
            "No fax machine",
            "ResultEmpty",
            "Account",
            "Suspended",
            "Call Failed",
            "Call Failure",
            "Internal Error",
            "IP Phone offline",
            "Restricted Number",
            "Wrong Number",
            "Stopped",
            "Hang up",
            "Poor Line Quality",
            "Partially Sent",
            "International Restriction",
            "Abandoned",
            "Declined",
            "Fax Receipt Error",
            "Fax Send Error"
          ]
        },
        "startTime": {
          "type": "string",
          "description": "The call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "format": "date-time"
        },
        "duration": {
          "type": "integer",
          "description": "Call duration in seconds"
        },
        "recording": {
          "$ref": "#/definitions/RecordingInfo",
          "description": "Call recording data. Returned if the call is recorded"
        }
      }
    },
    "CallLogRecord": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a cal log record"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a call log record"
        },
        "sessionId": {
          "type": "string",
          "description": "Internal identifier of a call session"
        },
        "from": {
          "$ref": "#/definitions/CallerInfo",
          "description": "Caller information"
        },
        "to": {
          "$ref": "#/definitions/CallerInfo",
          "description": "Callee information"
        },
        "type": {
          "type": "string",
          "description": "Call type",
          "enum": [
            "Voice",
            "Fax"
          ]
        },
        "direction": {
          "type": "string",
          "description": "Call direction",
          "enum": [
            "Inbound",
            "Outbound"
          ]
        },
        "action": {
          "type": "string",
          "description": "Action description of the call operation",
          "enum": [
            "Unknown",
            "Phone Call",
            "Phone Login",
            "Incoming Fax",
            "Accept Call",
            "FindMe",
            "FollowMe",
            "Outgoing Fax",
            "Call Return",
            "Calling Card",
            "Ring Directly",
            "RingOut Web",
            "VoIP Call",
            "RingOut PC",
            "RingMe",
            "Transfer",
            "411 Info",
            "Emergency",
            "E911 Update",
            "Support",
            "RingOut Mobile"
          ]
        },
        "result": {
          "type": "string",
          "description": "Status description of the call operation",
          "enum": [
            "Unknown",
            "ResultInProgress",
            "Missed",
            "Call accepted",
            "Voicemail",
            "Rejected",
            "Reply",
            "Received",
            "Receive Error",
            "Fax on Demand",
            "Partial Receive",
            "Blocked",
            "Call connected",
            "No Answer",
            "International Disabled",
            "Busy",
            "Send Error",
            "Sent",
            "No fax machine",
            "ResultEmpty",
            "Account",
            "Suspended",
            "Call Failed",
            "Call Failure",
            "Internal Error",
            "IP Phone offline",
            "Restricted Number",
            "Wrong Number",
            "Stopped",
            "Hang up",
            "Poor Line Quality",
            "Partially Sent",
            "International Restriction",
            "Abandoned",
            "Declined",
            "Fax Receipt Error",
            "Fax Send Error"
          ]
        },
        "startTime": {
          "type": "string",
          "description": "The call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "format": "date-time"
        },
        "duration": {
          "type": "integer",
          "description": "Call duration in seconds"
        },
        "recording": {
          "$ref": "#/definitions/RecordingInfo",
          "description": "Call recording data. Returned if the call is recorded, the withRecording parameter is set to 'True' in this case"
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "For 'Detailed' view only. The datetime when the call log record was modified in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "format": "date-time"
        },
        "transport": {
          "type": "string",
          "description": "For 'Detailed' view only. Call transport",
          "enum": [
            "PSTN",
            "VoIP"
          ]
        },
        "legs": {
          "type": "array",
          "description": "For 'Detailed' view only. Leg description",
          "items": {
            "$ref": "#/definitions/LegInfo"
          }
        }
      }
    },
    "CallerInfo": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of a party. Usually it is a plain number including country and area code like 18661234567. But sometimes it could be returned from database with some formatting applied, for example (866)123-4567. This property is filled in all cases where parties communicate by means of global phone numbers, for example when calling to direct numbers or sending/receiving SMS"
        },
        "extensionNumber": {
          "type": "string",
          "description": "Extension short number (usually 3 or 4 digits). This property is filled when parties communicate by means of short internal numbers, for example when calling to other extension or sending/receiving Company Pager message"
        },
        "location": {
          "type": "string",
          "description": "Contains party location (city, state) if one can be determined from phoneNumber. This property is filled only when phoneNumber is not empty and server can calculate location information from it (for example, this information is unavailable for US toll-free numbers)"
        },
        "name": {
          "type": "string",
          "description": "Symbolic name associated with a party. If the phone does not belong to the known extension, only the location is returned, the name is not determined then"
        }
      }
    },
    "Conferencing.Request.PhoneNumber": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Dial-in phone number to connect to a conference"
        },
        "default": {
          "type": "boolean",
          "description": "'True' if the number is default for the conference. Default conference number is a domestic number that can be set by user (otherwise it is set by the system). Only one default number per country is allowed"
        }
      }
    },
    "ConferencingInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Canonical URI of a conferencing"
        },
        "allowJoinBeforeHost": {
          "type": "boolean",
          "description": "Determines if host user allows conference participants to join before the host"
        },
        "hostCode": {
          "type": "string",
          "description": "Access code for a host user"
        },
        "mode": {
          "type": "string",
          "description": "Internal parameter specifying conferencing engine"
        },
        "participantCode": {
          "type": "string",
          "description": "Access code for any participant"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Primary conference phone number for user's home country returned in E.164 (11-digits) format"
        },
        "tapToJoinUri": {
          "type": "string",
          "description": "Short URL leading to the service web page Tap to Join for audio conference bridge"
        },
        "phoneNumbers": {
          "type": "array",
          "description": "List of multiple dial-in phone numbers to connect to audio conference service, relevant for user's brand. Each number is given with the country and location information, in order to let the user choose the less expensive way to connect to a conference. The first number in the list is the primary conference number, that is default and domestic",
          "items": {
            "$ref": "#/definitions/ConferencingInfo.PhoneNumberInfo"
          }
        }
      }
    },
    "ConferencingInfo.PhoneNumberInfo": {
      "type": "object",
      "properties": {
        "country": {
          "$ref": "#/definitions/ConferencingInfo.PhoneNumberInfo.CountryInfo",
          "description": "Information on a home country of a conference phone number"
        },
        "default": {
          "type": "boolean",
          "description": "'True' if the number is default for the conference. Default conference number is a domestic number that can be set by user (otherwise it is set by the system). Only one default number per country is allowed"
        },
        "hasGreeting": {
          "type": "boolean",
          "description": "'True' if the greeting message is played on this number"
        },
        "location": {
          "type": "string",
          "description": "Location (city, region, state) of a conference phone number"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Dial-in phone number to connect to a conference"
        }
      }
    },
    "ConferencingInfo.PhoneNumberInfo.CountryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a country"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a country"
        },
        "callingCode": {
          "type": "string",
          "description": "Country calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes"
        },
        "emergencyCalling": {
          "type": "boolean",
          "description": "Emergency calling feature availability/emergency address requirement indicator"
        },
        "isoCode": {
          "type": "string",
          "description": "Country code according to the ISO standard, see ISO 3166"
        },
        "name": {
          "type": "string",
          "description": "Official name of a country"
        }
      }
    },
    "ContactAddressInfo": {
      "type": "object",
      "properties": {
        "country": {
          "type": "string",
          "description": "Country name of extension user company. Not returned for Address Book"
        },
        "state": {
          "type": "string",
          "description": "State/province name of extension user company"
        },
        "city": {
          "type": "string",
          "description": "City name of extension user company"
        },
        "street": {
          "type": "string",
          "description": "Street address of extension user company"
        },
        "zip": {
          "type": "string",
          "description": "Zip code of extension user company"
        }
      }
    },
    "ContactInfo": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "For User extension type only. Extension user first name"
        },
        "lastName": {
          "type": "string",
          "description": "For User extension type only. Extension user last name"
        },
        "company": {
          "type": "string",
          "description": "Extension user company name"
        },
        "email": {
          "type": "string",
          "description": "Email of extension user"
        },
        "businessPhone": {
          "type": "string",
          "description": "Extension user contact phone number"
        },
        "businessAddress": {
          "$ref": "#/definitions/ContactAddressInfo",
          "description": "Business address of extension user company"
        }
      }
    },
    "CountryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a home country"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a home country"
        },
        "name": {
          "type": "string",
          "description": "Official name of a home country"
        }
      }
    },
    "DeliveryMode": {
      "type": "object",
      "properties": {
        "transportType": {
          "type": "string",
          "description": "Notifications transportation provider name. 'APNS' (Apple Push Notifications Service)",
          "enum": [
            "PubNub",
            "APNS",
            "PubNub/APNS/VoIP"
          ]
        },
        "encryption": {
          "type": "boolean",
          "description": "Optional parameter. Specifies if the message will be encrypted or not. For APNS transport type the value is always \"false\""
        },
        "address": {
          "type": "string",
          "description": "PubNub channel name. For APNS transport type - internal identifier of a device \"device_token\""
        },
        "subscriberKey": {
          "type": "string",
          "description": "PubNub subscriber credentials required to subscribe to the channel"
        },
        "secretKey": {
          "type": "string",
          "description": "PubNub subscriber credentials required to subscribe to the channel. Optional (for PubNub transport type only)"
        },
        "encryptionAlgorithm": {
          "type": "string",
          "description": "Encryption algorithm 'AES' (for PubNub transport type only)"
        },
        "encryptionKey": {
          "type": "string",
          "description": "Key for notification message decryption (for PubNub transport type only)"
        }
      }
    },
    "Department.Response.ExtensionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of an extension"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of an extension"
        },
        "extensionNumber": {
          "type": "string",
          "description": "Number of department extension"
        },
        "partnerId": {
          "type": "string",
          "description": "For Partner Applications Internal identifier of an extension created by partner. The RingCentral supports the mapping of accounts and stores the corresponding account ID/extension ID for each partner ID of a client application. In request URIs partner IDs are accepted instead of regular RingCentral native IDs as path parameters using pid = XXX clause. Though in response URIs contain the corresponding account IDs and extension IDs. In all request and response bodies these values are reflected via partnerId attributes of account and extension"
        }
      }
    },
    "DepartmentInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a department extension"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a department extension"
        },
        "extensionNumber": {
          "type": "string",
          "description": "Number of a department extension"
        }
      }
    },
    "DeviceInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a device"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a device"
        },
        "sku": {
          "type": "string",
          "description": "Device identification number (stock keeping unit) in the format TP-ID [-AT-AC], where TP is device type (HP for RC HardPhone, DV for all other devices including softphone); ID - device model ID; AT -addon type ID; AC - addon count (if any). For example 'HP-56-2-2'"
        },
        "type": {
          "type": "string",
          "description": "Device type. The default value is 'HardPhone'",
          "enum": [
            "SoftPhone",
            "OtherPhone",
            "HardPhone"
          ]
        },
        "name": {
          "type": "string",
          "description": "Device name. Mandatory if ordering \"SoftPhone\" or \"OtherPhone\". Optional for \"HardPhone\". If not specified for HardPhone, then device \"model\" name is used as device \"name\""
        },
        "serial": {
          "type": "string",
          "description": "Serial number for HardPhone (is returned only when the phone is shipped and provisioned); endpoint_id for softphone and mobile applications"
        },
        "computerName": {
          "type": "string",
          "description": "PC name for softphone"
        },
        "model": {
          "$ref": "#/definitions/ModelInfo",
          "description": "HardPhone model information"
        },
        "extension": {
          "$ref": "#/definitions/DeviceInfo.ExtensionInfo",
          "description": "This attribute can be omitted for unassigned devices"
        },
        "emergencyServiceAddress": {
          "$ref": "#/definitions/EmergencyAddressInfo",
          "description": "Address for emergency cases. The same emergency address is assigned to all the numbers of one device"
        },
        "phoneLines": {
          "$ref": "#/definitions/PhoneLinesInfo",
          "description": "Phone lines information"
        },
        "shipping": {
          "$ref": "#/definitions/ShippingInfo",
          "description": "Shipping information, according to which devices (in case of \"HardPhone\") or e911 stickers (in case of \"SoftPhone\" and \"OtherPhone\") will be delivered to the customer"
        },
        "boxBillingId": {
          "type": "integer",
          "description": "Box billing identifier of a device. Applicable only for HardPhones. It is an alternative way to identify the device to be ordered. Either \"model\" structure, or \"boxBillingId\" must be specified for HardPhone"
        }
      }
    },
    "DeviceInfo.ExtensionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of an extension"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of an extension"
        },
        "extensionNumber": {
          "type": "string",
          "description": "Number of department extension"
        },
        "partnerId": {
          "type": "string",
          "description": "For Partner Applications Internal identifier of an extension created by partner. The RingCentral supports the mapping of accounts and stores the corresponding account ID/extension ID for each partner ID of a client application. In request URIs partner IDs are accepted instead of regular RingCentral native IDs as path parameters using pid = XXX clause. Though in response URIs contain the corresponding account IDs and extension IDs. In all request and response bodies these values are reflected via partnerId attributes of account and extension"
        }
      }
    },
    "DialInNumbers": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of the dial-in number for the meeting in e.164 format"
        },
        "formattedNumber": {
          "type": "string",
          "description": "Phone number of the dial-in number formatted according to the extension home country"
        },
        "location": {
          "type": "string",
          "description": "Optional field in case the dial-in number is associated with a particular location"
        },
        "country": {
          "$ref": "#/definitions/DialInNumbers.CountryInfo",
          "description": "Country resource corresponding to the dial-in number"
        }
      }
    },
    "DialInNumbers.CountryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a country"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a country"
        },
        "callingCode": {
          "type": "string",
          "description": "Country calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes"
        },
        "isoCode": {
          "type": "string",
          "description": "Country code according to the ISO standard, see ISO 3166"
        },
        "name": {
          "type": "string",
          "description": "Official name of a country"
        }
      }
    },
    "DialingPlanCountryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a country"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a country"
        },
        "callingCode": {
          "type": "string",
          "description": "Country calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes"
        },
        "isoCode": {
          "type": "string",
          "description": "Country code according to the ISO standard, see ISO 3166"
        },
        "name": {
          "type": "string",
          "description": "Official name of a country"
        }
      }
    },
    "EmergencyAddressInfo": {
      "type": "object",
      "properties": {
        "customerName": {
          "type": "string",
          "description": "Name of a customer"
        },
        "street": {
          "type": "string",
          "description": "Street address, line 1 - street address, P.O. box, company name, c/o"
        },
        "street2": {
          "type": "string",
          "description": "Street address, line 2 - apartment, suite, unit, building, floor, etc."
        },
        "city": {
          "type": "string",
          "description": "City name"
        },
        "state": {
          "type": "string",
          "description": "State/province name"
        },
        "zip": {
          "type": "string",
          "description": "Zip code"
        },
        "country": {
          "type": "string",
          "description": "Country name"
        }
      }
    },
    "ExtensionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of an extension"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of an extension"
        },
        "contact": {
          "$ref": "#/definitions/ContactInfo",
          "description": "Contact detailed information"
        },
        "departments": {
          "type": "array",
          "description": "Information on department extension(s), to which the requested extension belongs. Returned only for user extensions, members of department, requested by single extensionId",
          "items": {
            "$ref": "#/definitions/DepartmentInfo"
          }
        },
        "extensionNumber": {
          "type": "string",
          "description": "Number of department extension"
        },
        "name": {
          "type": "string",
          "description": "Extension user name"
        },
        "partnerId": {
          "type": "string",
          "description": "For Partner Applications Internal identifier of an extension created by partner. The RingCentral supports the mapping of accounts and stores the corresponding account ID/extension ID for each partner ID of a client application. In request URIs partner IDs are accepted instead of regular RingCentral native IDs as path parameters using pid = XXX clause. Though in response URIs contain the corresponding account IDs and extension IDs. In all request and response bodies these values are reflected via partnerId attributes of account and extension"
        },
        "permissions": {
          "$ref": "#/definitions/ExtensionPermissions",
          "description": "Extension permissions, corresponding to the Service Web permissions 'Admin' and 'InternationalCalling'"
        },
        "profileImage": {
          "$ref": "#/definitions/ProfileImageInfo",
          "description": "Information on profile image"
        },
        "references": {
          "type": "array",
          "description": "List of non-RC internal identifiers assigned to an extension",
          "items": {
            "$ref": "#/definitions/ReferenceInfo"
          }
        },
        "regionalSettings": {
          "$ref": "#/definitions/RegionalSettings",
          "description": "Extension region data (timezone, home country, language)"
        },
        "serviceFeatures": {
          "type": "array",
          "description": "Extension service features returned in response only when the logged-in user requests his/her own extension info, see also Extension Service Features",
          "items": {
            "$ref": "#/definitions/ExtensionServiceFeatureInfo"
          }
        },
        "setupWizardState": {
          "type": "string",
          "description": "Specifies extension configuration wizard state (web service setup). The default value is 'NotStarted'",
          "enum": [
            "NotStarted",
            "Incomplete",
            "Completed"
          ]
        },
        "status": {
          "type": "string",
          "description": "Extension current state. If the status is 'Unassigned'. Returned for all extensions",
          "enum": [
            "Enabled",
            "Disabled",
            "NotActivated",
            "Unassigned"
          ]
        },
        "statusInfo": {
          "$ref": "#/definitions/StatusInfo",
          "description": "Status information (reason, comment). Returned for 'Disabled' status only"
        },
        "type": {
          "type": "string",
          "description": "Extension type",
          "enum": [
            "User",
            "FaxUser",
            "VirtualUser",
            "DigitalUser",
            "Department",
            "Announcement",
            "Voicemail",
            "SharedLinesGroup",
            "PagingOnlyGroup",
            "IvrMenu",
            "ApplicationExtension",
            "ParkLocation"
          ]
        }
      }
    },
    "ExtensionInfo.Request.ContactInfo": {
      "type": "object",
      "properties": {
        "contact": {
          "$ref": "#/definitions/ContactInfo",
          "description": "Contact information"
        },
        "regionalSettings": {
          "$ref": "#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings",
          "description": "Region data (timezone, home country, language)"
        },
        "setupWizardState": {
          "type": "string",
          "description": "Specifies extension configuration wizard state (web service setup). The default value is 'NotStarted'",
          "enum": [
            "NotStarted",
            "Incomplete",
            "Completed"
          ]
        },
        "department": {
          "type": "string",
          "description": "Extension user department"
        }
      }
    },
    "ExtensionInfo.Request.ContactInfo.RegionalSettings": {
      "type": "object",
      "properties": {
        "timezone": {
          "$ref": "#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.Timezone",
          "description": "Timezone data"
        },
        "language": {
          "$ref": "#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.Language",
          "description": "User interface language data"
        },
        "greetingLanguage": {
          "$ref": "#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.GreetingLanguage",
          "description": "Information on language used for telephony greetings"
        },
        "formattingLocale": {
          "$ref": "#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.FormattingLocale",
          "description": "Formatting language preferences for numbers, dates and currencies"
        }
      }
    },
    "ExtensionInfo.Request.ContactInfo.RegionalSettings.FormattingLocale": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a formatting language"
        }
      }
    },
    "ExtensionInfo.Request.ContactInfo.RegionalSettings.GreetingLanguage": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a greeting language"
        }
      }
    },
    "ExtensionInfo.Request.ContactInfo.RegionalSettings.Language": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Language identifier. The default value is \"1033\" (English US)"
        }
      }
    },
    "ExtensionInfo.Request.ContactInfo.RegionalSettings.Timezone": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Timezone identifier. The default value is \"58\" (US&Canada)"
        }
      }
    },
    "ExtensionInfo.Request.PartnerId": {
      "type": "object",
      "properties": {
        "partnerId": {
          "type": "string",
          "description": "Extension partner identifier"
        }
      }
    },
    "ExtensionInfo.Request.PasswordPIN": {
      "type": "object",
      "properties": {
        "password": {
          "type": "string",
          "description": "Password for extension"
        },
        "ivrPin": {
          "type": "string",
          "description": "IVR PIN"
        }
      }
    },
    "ExtensionInfo.Request.Provision": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Mandatory. Resulting extension status",
          "enum": [
            "NotActivated"
          ]
        },
        "contact": {
          "$ref": "#/definitions/ExtensionInfo.Request.Provision.ContactInfo",
          "description": "Mandatory. Extension user contact information"
        }
      }
    },
    "ExtensionInfo.Request.Provision.ContactInfo": {
      "type": "object",
      "properties": {
        "firstName": {
          "type": "string",
          "description": "Mandatory. Extension user first name"
        },
        "lastName": {
          "type": "string",
          "description": "Mandatory. Extension user last name"
        },
        "email": {
          "type": "string",
          "description": "Mandatory. Extension user contact email"
        }
      }
    },
    "ExtensionInfo.Request.StatusInfo": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "Required extension status",
          "enum": [
            "Disabled",
            "Enabled",
            "NotActivated"
          ]
        },
        "statusInfo": {
          "$ref": "#/definitions/StatusInfo",
          "description": "Extension status information, only for the 'Disabled' status"
        }
      }
    },
    "ExtensionPermissions": {
      "type": "object",
      "properties": {
        "admin": {
          "$ref": "#/definitions/PermissionInfo",
          "description": "Admin permission"
        },
        "internationalCalling": {
          "$ref": "#/definitions/PermissionInfo",
          "description": "International Calling permission"
        }
      }
    },
    "ExtensionServiceFeatureInfo": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Feature status; shows feature availability for an extension"
        },
        "featureName": {
          "type": "string",
          "description": "Feature name, see all available values in Service Feature List"
        },
        "reason": {
          "type": "string",
          "description": "Reason of limitation for a particular service feature. Returned only if the enabled parameter value is 'False', see Service Feature Limitations and Reasons. When retrieving service features for an extension, the reasons for the limitations, if any, are returned in response"
        }
      }
    },
    "ExternalUserInfo": {
      "type": "object",
      "properties": {
        "accountId": {
          "type": "string",
          "description": "User type of a meeting account",
          "default": "~"
        },
        "userId": {
          "type": "string",
          "description": "Meeting account user identifier"
        },
        "userToken": {
          "type": "string",
          "description": "Meeting account user token"
        },
        "userType": {
          "type": "integer",
          "description": "Meeting account user type"
        }
      }
    },
    "FormattingLocaleInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a formatting language"
        },
        "localeCode": {
          "type": "string",
          "description": "Localization code of a formatting language"
        },
        "name": {
          "type": "string",
          "description": "Official name of a formatting language"
        }
      }
    },
    "ForwardingInfo": {
      "type": "object",
      "properties": {
        "notifyMySoftPhones": {
          "type": "boolean",
          "description": "Specifies if the user's softphone(s) are notified before forwarding the incoming call to desk phones and forwarding numbers"
        },
        "notifyAdminSoftPhones": {
          "type": "boolean",
          "description": "Specifies if the administrator's softphone is notified before forwarding the incoming call to desk phones and forwarding numbers. The default value is 'False'"
        },
        "softPhonesRingCount": {
          "type": "integer",
          "description": "Number of rings before forwarding starts"
        },
        "ringingMode": {
          "type": "string",
          "description": "Specifies the order in which forwarding numbers ring. 'Sequentially' means that forwarding numbers are ringing one at a time, in order of priority. 'Simultaneously' means that forwarding numbers are ring all at the same time",
          "enum": [
            "Sequentially",
            "Simultaneously"
          ]
        },
        "rules": {
          "type": "array",
          "description": "Information on a call forwarding rule",
          "items": {
            "$ref": "#/definitions/RuleInfo"
          }
        }
      }
    },
    "ForwardingNumberInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a forwarding/call flip phone number"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a forwarding/call flip phone number"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Forwarding/Call flip phone number"
        },
        "label": {
          "type": "string",
          "description": "Forwarding/Call flip number title"
        },
        "features": {
          "type": "string",
          "description": "Type of option this phone number is used for. Multiple values are accepted",
          "enum": [
            "CallFlip",
            "CallForwarding"
          ]
        },
        "flipNumber": {
          "type": "integer",
          "description": "Number assigned to the call flip phone number, corresponds to the shortcut dial number"
        }
      }
    },
    "FullCountryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a country"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a country"
        },
        "callingCode": {
          "type": "string",
          "description": "Country calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes"
        },
        "emergencyCalling": {
          "type": "boolean",
          "description": "Emergency calling feature availability/emergency address requirement indicator"
        },
        "isoCode": {
          "type": "string",
          "description": "Country code according to the ISO standard, see ISO 3166"
        },
        "name": {
          "type": "string",
          "description": "Official name of a country"
        },
        "numberSelling": {
          "type": "boolean",
          "description": "Determines whether phone numbers are available for a country"
        },
        "loginAllowed": {
          "type": "boolean",
          "description": "Specifies whether login with the phone numbers of this country is enabled or not"
        }
      }
    },
    "GrantInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Canonical URI of a grant"
        },
        "extension": {
          "$ref": "#/definitions/GrantInfo.ExtensionInfo",
          "description": "Extension information"
        },
        "callPickup": {
          "type": "boolean",
          "description": "Specifies if picking up of other extensions' calls is allowed for the extension. If 'Presence' feature is disabled for the given extension, the flag is not returned"
        },
        "callMonitoring": {
          "type": "boolean",
          "description": "Specifies if monitoring of other extensions' calls is allowed for the extension. If 'CallMonitoring' feature is disabled for the given extension, the flag is not returned"
        }
      }
    },
    "GrantInfo.ExtensionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of an extension"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of an extension"
        },
        "extensionNumber": {
          "type": "string",
          "description": "Extension short number (usually 3 or 4 digits)"
        },
        "type": {
          "type": "string",
          "description": "Extension type",
          "enum": [
            "User",
            "Fax User",
            "VirtualUser",
            "DigitalUser",
            "Department",
            "Announcement",
            "Voicemail",
            "SharedLinesGroup",
            "PagingOnly",
            "IvrMenu",
            "ApplicationExtension",
            "Park Location"
          ]
        }
      }
    },
    "GreetingLanguageInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a greeting language"
        },
        "localeCode": {
          "type": "string",
          "description": "Localization code of a greeting language"
        },
        "name": {
          "type": "string",
          "description": "Official name of a greeting language"
        }
      }
    },
    "GroupInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a group"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a group"
        },
        "contactsCount": {
          "type": "integer",
          "description": "Amount of contacts in a group"
        },
        "groupName": {
          "type": "string",
          "description": "Name of a group"
        },
        "notes": {
          "type": "string",
          "description": "Notes for a group"
        }
      }
    },
    "ImageUri": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Link to an image."
        }
      }
    },
    "LanguageInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a language"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a language"
        },
        "greeting": {
          "type": "boolean",
          "description": "Indicates whether a language is available as greeting language"
        },
        "formattingLocale": {
          "type": "boolean",
          "description": "Indicates whether a language is available as formatting locale"
        },
        "localeCode": {
          "type": "string",
          "description": "Localization code of a language"
        },
        "name": {
          "type": "string",
          "description": "Official name of a language"
        },
        "ui": {
          "type": "boolean",
          "description": "Indicates whether a language is available as UI language"
        }
      }
    },
    "LegInfo": {
      "type": "object",
      "properties": {
        "action": {
          "type": "string",
          "description": "Action description of the call operation",
          "enum": [
            "Unknown",
            "Phone Call",
            "Phone Login",
            "Incoming Fax",
            "Accept Call",
            "FindMe",
            "FollowMe",
            "Outgoing Fax",
            "Call Return",
            "Calling Card",
            "Ring Directly",
            "RingOut Web",
            "VoIP Call",
            "RingOut PC",
            "RingMe",
            "Transfer",
            "411 Info",
            "Emergency",
            "E911 Update",
            "Support",
            "RingOut Mobile"
          ]
        },
        "direction": {
          "type": "string",
          "description": "Call direction",
          "enum": [
            "Inbound",
            "Outbound"
          ]
        },
        "duration": {
          "type": "integer",
          "description": "Call duration in seconds"
        },
        "extension": {
          "$ref": "#/definitions/LegInfo.ExtensionInfo",
          "description": "Information on extension"
        },
        "legType": {
          "type": "string",
          "description": "Leg type"
        },
        "startTime": {
          "type": "string",
          "description": "The call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "format": "date-time"
        },
        "type": {
          "type": "string",
          "description": "Call type",
          "enum": [
            "Voice",
            "Fax"
          ]
        },
        "result": {
          "type": "string",
          "description": "Status description of the call operation",
          "enum": [
            "Unknown",
            "ResultInProgress",
            "Missed",
            "Call accepted",
            "Voicemail",
            "Rejected",
            "Reply",
            "Received",
            "Receive Error",
            "Fax on Demand",
            "Partial Receive",
            "Blocked",
            "Call connected",
            "No Answer",
            "International Disabled",
            "Busy",
            "Send Error",
            "Sent",
            "No fax machine",
            "ResultEmpty",
            "Account",
            "Suspended",
            "Call Failed",
            "Call Failure",
            "Internal Error",
            "IP Phone offline",
            "Restricted Number",
            "Wrong Number",
            "Stopped",
            "Hang up",
            "Poor Line Quality",
            "Partially Sent",
            "International Restriction",
            "Abandoned",
            "Declined",
            "Fax Receipt Error",
            "Fax Send Error"
          ]
        },
        "from": {
          "$ref": "#/definitions/CallerInfo",
          "description": "Caller information"
        },
        "to": {
          "$ref": "#/definitions/CallerInfo",
          "description": "Callee information"
        },
        "transport": {
          "type": "string",
          "description": "Call transport",
          "enum": [
            "PSTN",
            "VoIP"
          ]
        },
        "recording": {
          "$ref": "#/definitions/RecordingInfo",
          "description": "Call recording data. Returned if the call is recorded"
        }
      }
    },
    "LegInfo.ExtensionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Internal identifier of an extension"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of an extension"
        }
      }
    },
    "LinksInfo": {
      "type": "object",
      "properties": {
        "startUri": {
          "type": "string",
          "description": "Link to start a meeting"
        },
        "joinUri": {
          "type": "string",
          "description": "Link to join a meeting"
        }
      }
    },
    "LocationInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Canonical URI of a location"
        },
        "areaCode": {
          "type": "string",
          "description": "Area code of the location"
        },
        "city": {
          "type": "string",
          "description": "Official name of the city, belonging to the certain state"
        },
        "npa": {
          "type": "string",
          "description": "Area code of the location (3-digit usually), according to the NANP number format, that can be summarized as NPA-NXX-xxxx and covers Canada, the United States, parts of the Caribbean Sea, and some Atlantic and Pacific islands. See for details North American Numbering Plan"
        },
        "nxx": {
          "type": "string",
          "description": "Central office code of the location, according to the NANP number format, that can be summarized as NPA-NXX-xxxx and covers Canada, the United States, parts of the Caribbean Sea, and some Atlantic and Pacific islands. See for details North American Numbering Plan"
        },
        "state": {
          "type": "string",
          "description": "ID and URI of the state this location belongs to, see State Info"
        }
      }
    },
    "LookUpPhoneNumber.PhoneNumberInfo": {
      "type": "object",
      "properties": {
        "phoneNumber": {
          "type": "string",
          "description": "Phone number in E.164 format without a '+'"
        },
        "formattedNumber": {
          "type": "string",
          "description": "Phone number formatted according to current brand's default country"
        },
        "vanityPattern": {
          "type": "string",
          "description": "Vanity pattern for this number. Returned only when vanity search option is requested. Vanity pattern corresponds to request parameters nxx plus line or numberPattern"
        },
        "rank": {
          "type": "integer",
          "description": "The value is returned if the extendedSearch parameter is true. '10' is the closest match"
        }
      }
    },
    "MeetingInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Canonical URI of a meeting resource"
        },
        "id": {
          "type": "string",
          "description": "Internal identifier of a meeting as retrieved from Zoom"
        },
        "topic": {
          "type": "string",
          "description": "Topic of a meeting"
        },
        "meetingType": {
          "type": "string",
          "description": "Type of a meeting",
          "enum": [
            "Scheduled",
            "Instant",
            "Recurring"
          ]
        },
        "password": {
          "type": "string",
          "description": "Password required to join a meeting"
        },
        "status": {
          "type": "string",
          "description": "Current status of a meeting",
          "enum": [
            "NotStarted",
            "Started"
          ]
        },
        "links": {
          "$ref": "#/definitions/LinksInfo",
          "description": "Links to start/join the meeting"
        },
        "schedule": {
          "$ref": "#/definitions/MeetingScheduleInfo",
          "description": "Schedule of a meeting"
        },
        "allowJoinBeforeHost": {
          "type": "boolean",
          "description": "If 'True' then the meeting can be joined and started by any participant (not host only). Supported for the meetings of 'Scheduled' and 'Recurring' type."
        },
        "startHostVideo": {
          "type": "boolean",
          "description": "Enables starting video when host joins the meeting"
        },
        "startParticipantsVideo": {
          "type": "boolean",
          "description": "Enables starting video when participants join the meeting"
        },
        "audioOptions": {
          "type": "array",
          "description": "Meeting audio options. Possible values are 'Phone', 'ComputerAudio'",
          "items": {
            "type": "string"
          }
        }
      }
    },
    "MeetingScheduleInfo": {
      "type": "object",
      "properties": {
        "startTime": {
          "type": "string",
          "description": "Start time of a meeting in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "format": "date-time"
        },
        "durationInMinutes": {
          "type": "integer",
          "description": "Duration of a meeting in minutes"
        },
        "timeZone": {
          "$ref": "#/definitions/MeetingScheduleInfo.TimezoneInfo",
          "description": "Timezone of a meeting"
        }
      }
    },
    "MeetingScheduleInfo.TimezoneInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Identifier of a timezone"
        }
      }
    },
    "MessageAttachmentInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a message attachment"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a message attachment"
        },
        "type": {
          "type": "string",
          "description": "Type of message attachment",
          "enum": [
            "AudioRecording",
            "AudioTranscription",
            "Text",
            "SourceDocument",
            "RenderedDocument"
          ]
        },
        "contentType": {
          "type": "string",
          "description": "MIME type for a given attachment, for instance 'audio/wav'"
        },
        "vmDuration": {
          "type": "integer",
          "description": "Voicemail only Duration of the voicemail in seconds"
        }
      }
    },
    "MessageInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a message"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a message"
        },
        "attachments": {
          "type": "array",
          "description": "The list of message attachments",
          "items": {
            "$ref": "#/definitions/MessageAttachmentInfo"
          }
        },
        "availability": {
          "type": "string",
          "description": "Message availability status. Message in 'Deleted' state is still preserved with all its attachments and can be restored. 'Purged' means that all attachments are already deleted and the message itself is about to be physically deleted shortly",
          "enum": [
            "Alive",
            "Deleted",
            "Purged"
          ]
        },
        "conversationId": {
          "type": "integer",
          "description": "SMS and Pager only. Identifier of the conversation the message belongs to",
          "format": "int64"
        },
        "creationTime": {
          "type": "string",
          "description": "Message creation datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "format": "date-time"
        },
        "deliveryErrorCode": {
          "type": "string",
          "description": "SMS only. Delivery error code returned by gateway"
        },
        "direction": {
          "type": "string",
          "description": "Message direction. Note that for some message types not all directions are allowed. For example voicemail messages can be only inbound",
          "enum": [
            "Inbound",
            "Outbound"
          ]
        },
        "faxPageCount": {
          "type": "integer",
          "description": "Fax only. Page count in fax message"
        },
        "faxResolution": {
          "type": "string",
          "description": "Fax only. Resolution of fax message. ('High' for black and white image scanned at 200 dpi, 'Low' for black and white image scanned at 100 dpi)",
          "enum": [
            "High",
            "Low"
          ]
        },
        "from": {
          "$ref": "#/definitions/MessageInfo.CallerInfo",
          "description": "Sender information"
        },
        "lastModifiedTime": {
          "type": "string",
          "description": "The datetime when the message was modified on server in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "format": "date-time"
        },
        "messageStatus": {
          "type": "string",
          "description": "Message status. Different message types may have different allowed status values.",
          "enum": [
            "Queued",
            "Sent",
            "Delivered",
            "DeliveryFailed",
            "SendingFailed",
            "Received"
          ]
        },
        "pgToDepartment": {
          "type": "boolean",
          "description": "Pager only True if at least one of the message recipients is Department extension"
        },
        "priority": {
          "type": "string",
          "description": "Message priority",
          "enum": [
            "Normal",
            "High"
          ]
        },
        "readStatus": {
          "type": "string",
          "description": "Message read status",
          "enum": [
            "Read",
            "Unread"
          ]
        },
        "smsDeliveryTime": {
          "type": "string",
          "description": "SMS only. The datetime when outbound SMS was delivered to recipient's handset in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z. It is filled only if the carrier sends a delivery receipt to RingCentral",
          "format": "date-time"
        },
        "smsSendingAttemptsCount": {
          "type": "integer",
          "description": "SMS only. Number of attempts made to send an outbound SMS to the gateway (if gateway is temporary unavailable)"
        },
        "subject": {
          "type": "string",
          "description": "Message subject. For SMS and Pager messages it replicates message text which is also returned as an attachment"
        },
        "to": {
          "type": "array",
          "description": "Recipient information",
          "items": {
            "$ref": "#/definitions/MessageInfo.CallerInfo"
          }
        },
        "type": {
          "type": "string",
          "description": "Message type",
          "enum": [
            "Fax",
            "SMS",
            "VoiceMail",
            "Pager",
            "Text"
          ]
        },
        "vmTranscriptionStatus": {
          "type": "string",
          "description": "Voicemail only. Status of voicemail to text transcription. If VoicemailToText feature is not activated for account, the 'NotAvailable' value is returned",
          "enum": [
            "NotAvailable",
            "InProgress",
            "TimedOut",
            "Completed",
            "CompletedPartially",
            "Failed"
          ]
        }
      }
    },
    "MessageInfo.CallerInfo": {
      "type": "object",
      "properties": {
        "extensionNumber": {
          "type": "string",
          "description": "Extension short number (usually 3 or 4 digits). This property is filled when parties communicate by means of short internal numbers, for example when calling to other extension or sending/receiving Company Pager message"
        },
        "location": {
          "type": "string",
          "description": "Contains party location (city, state) if one can be determined from phoneNumber. This property is filled only when phoneNumber is not empty and server can calculate location information from it (for example, this information is unavailable for US toll-free numbers)"
        },
        "messageStatus": {
          "type": "string",
          "description": "Status of a message. Returned for outbound fax messages only",
          "enum": [
            "Queued",
            "Sent",
            "Delivered",
            "DeliveryFailed",
            "SendingFailed",
            "Received"
          ]
        },
        "faxErrorCode": {
          "type": "string",
          "description": "Fax only. Error code returned in case of fax sending failure. Returned if messageStatus value is 'SendingFailed'",
          "enum": [
            "Undefined",
            "NoFaxSendPermission",
            "NoInternationalPermission",
            "NoFaxMachine",
            "OutgoingCallError",
            "RenderingFailed",
            "TooManyPages",
            "ReturnToDBQueue",
            "NoCallTime",
            "WrongNumber",
            "ProhibitedNumber",
            "InternalError",
            "FaxSendingProhibited",
            "ThePhoneIsBlacklisted",
            "UserNotFound",
            "ConvertError",
            "DBGeneralError",
            "SkypeBillingFailed",
            "AccountSuspended",
            "ProhibitedDestination",
            "InternationalDisabled"
          ]
        },
        "name": {
          "type": "string",
          "description": "Symbolic name associated with a party. If the phone does not belong to the known extension, only the location is returned, the name is not determined then"
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number of a party. Usually it is a plain number including country and area code like 18661234567. But sometimes it could be returned from database with some formatting applied, for example (866)123-4567. This property is filled in all cases where parties communicate by means of global phone numbers, for example when calling to direct numbers or sending/receiving SMS"
        }
      }
    },
    "ModelInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Device model identifier. Mandatory when ordering a HardPhone if boxBillingId is not used for ordering"
        },
        "name": {
          "type": "string",
          "description": "Device name"
        },
        "addons": {
          "type": "array",
          "description": "Addons description",
          "items": {
            "$ref": "#/definitions/AddonInfo"
          }
        }
      }
    },
    "NavigationInfo": {
      "type": "object",
      "properties": {
        "firstPage": {
          "$ref": "#/definitions/Page",
          "description": "First page of the list"
        },
        "nextPage": {
          "$ref": "#/definitions/Page",
          "description": "Next page of the list"
        },
        "previousPage": {
          "$ref": "#/definitions/Page",
          "description": "Previous page of the list"
        },
        "lastPage": {
          "$ref": "#/definitions/Page",
          "description": "Last page of the list"
        }
      }
    },
    "Page": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Canonical URI for the page"
        }
      }
    },
    "PagingInfo": {
      "type": "object",
      "properties": {
        "page": {
          "type": "integer",
          "description": "The current page number. 1-indexed, so the first page is 1 by default. May be omitted if result is empty (because non-existent page was specified or perPage=0 was requested)"
        },
        "perPage": {
          "type": "integer",
          "description": "Current page size, describes how many items are in each page. Default value is 100. Maximum value is 1000. If perPage value in the request is greater than 1000, the maximum value (1000) is applied"
        },
        "pageStart": {
          "type": "integer",
          "description": "The zero-based number of the first element on the current page. Omitted if the page is omitted or result is empty"
        },
        "pageEnd": {
          "type": "integer",
          "description": "The zero-based index of the last element on the current page. Omitted if the page is omitted or result is empty"
        },
        "totalPages": {
          "type": "integer",
          "description": "The total number of pages in a dataset. May be omitted for some resources due to performance reasons"
        },
        "totalElements": {
          "type": "integer",
          "description": "The total number of elements in a dataset. May be omitted for some resource due to performance reasons"
        }
      }
    },
    "ParsePhoneNumber.CountryInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of a country"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of a country"
        },
        "callingCode": {
          "type": "string",
          "description": "Country calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes"
        },
        "emergencyCalling": {
          "type": "boolean",
          "description": "Emergency calling feature availability/emergency address requirement indicator"
        },
        "isoCode": {
          "type": "string",
          "description": "Country code according to the ISO standard, see ISO 3166"
        },
        "name": {
          "type": "string",
          "description": "Official name of a country"
        }
      }
    },
    "ParsePhoneNumber.PhoneNumberInfo": {
      "type": "object",
      "properties": {
        "areaCode": {
          "type": "string",
          "description": "Area code of the location (3-digit usually), according to the NANP number format, that can be summarized as NPA-NXX-xxxx and covers Canada, the United States, parts of the Caribbean Sea, and some Atlantic and Pacific islands. See North American Numbering Plan for details"
        },
        "country": {
          "type": "array",
          "description": "Information on a country the phone number belongs to",
          "items": {
            "$ref": "#/definitions/ParsePhoneNumber.CountryInfo"
          }
        },
        "dialable": {
          "type": "string",
          "description": "Dialing format of a phone number"
        },
        "e164": {
          "type": "string",
          "description": "E.164 (11-digits) format of a phone number"
        },
        "formattedInternational": {
          "type": "string",
          "description": "International format of a phone number"
        },
        "formattedNational": {
          "type": "string",
          "description": "Domestic format of a phone number"
        },
        "originalString": {
          "type": "string",
          "description": "One of the numbers to be parsed, passed as a string in response"
        },
        "special": {
          "type": "boolean",
          "description": "\"True\" if the number is in a special format (for example N11 code)"
        },
        "normalized": {
          "type": "string",
          "description": "E.164 (11-digits) format of a phone number without the plus sign ('+')"
        }
      }
    },
    "PermissionDetailsInfo": {
      "type": "object",
      "properties": {
        "permission": {
          "$ref": "#/definitions/UserPermissionInfo",
          "description": "Information on a permission checked"
        }
      }
    },
    "PermissionInfo": {
      "type": "object",
      "properties": {
        "enabled": {
          "type": "boolean",
          "description": "Specifies if a permission is enabled or not"
        }
      }
    },
    "PersonalContactInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Standard resource properties ID"
        },
        "url": {
          "type": "string",
          "description": "Canonical URI"
        },
        "availability": {
          "type": "string",
          "description": "This property has a special meaning only on Address Book Sync (e.g. a contact can be 'Deleted'). For simple contact list reading it has always the default value - 'Alive'",
          "enum": [
            "Alive",
            "Deleted",
            "Purged"
          ]
        },
        "firstName": {
          "type": "string",
          "description": "First name of a personal contact"
        },
        "lastName": {
          "type": "string",
          "description": "Last name of a personal contact"
        },
        "middleName": {
          "type": "string",
          "description": "Middle name of a personal contact"
        },
        "nickName": {
          "type": "string",
          "description": "Nick name of a personal contact"
        },
        "company": {
          "type": "string",
          "description": "Company name of a personal contact"
        },
        "jobTitle": {
          "type": "string",
          "description": "Job title of a personal contact"
        },
        "homePhone": {
          "type": "string",
          "description": "Home phone of a personal contact"
        },
        "homePhone2": {
          "type": "string",
          "description": "The 2-d home phone of a personal contact"
        },
        "businessPhone": {
          "type": "string",
          "description": "Business phone of a personal contact"
        },
        "businessPhone2": {
          "type": "string",
          "description": "The 2-d business phone of a personal contact"
        },
        "mobilePhone": {
          "type": "string",
          "description": "Mobile phone of a personal contact"
        },
        "businessFax": {
          "type": "string",
          "description": "Business fax of a personal contact"
        },
        "companyPhone": {
          "type": "string",
          "description": "Company phone of a personal contact"
        },
        "assistantPhone": {
          "type": "string",
          "description": "Assistant phone of a personal contact"
        },
        "carPhone": {
          "type": "string",
          "description": "Car phone of a personal contact"
        },
        "otherPhone": {
          "type": "string",
          "description": "Other phone of a personal contact"
        },
        "otherFax": {
          "type": "string",
          "description": "Other fax of a personal contact"
        },
        "callbackPhone": {
          "type": "string",
          "description": "Callback phone of a personal contact"
        },
        "email": {
          "type": "string",
          "description": "Email of a personal contact"
        },
        "email2": {
          "type": "string",
          "description": "The 2-d email of a personal contact"
        },
        "email3": {
          "type": "string",
          "description": "The 3-d email of a personal contact"
        },
        "homeAddress": {
          "$ref": "#/definitions/ContactAddressInfo",
          "description": "Home address of a personal contact"
        },
        "businessAddress": {
          "$ref": "#/definitions/ContactAddressInfo",
          "description": "Business address of a personal contact"
        },
        "otherAddress": {
          "$ref": "#/definitions/ContactAddressInfo",
          "description": "Other address of a personal contact"
        },
        "birthday": {
          "type": "string",
          "description": "Date of birth of a personal contact in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z",
          "format": "date-time"
        },
        "webPage": {
          "type": "string",
          "description": "Web page of a personal contact"
        },
        "notes": {
          "type": "string",
          "description": "Notes of a personal contact"
        }
      }
    },
    "PhoneLinesInfo": {
      "type": "object",
      "properties": {
        "lineType": {
          "type": "string",
          "description": "Type of phone line",
          "enum": [
            "Standalone",
            "StandaloneFree",
            "BlaPrimary",
            "BlaSecondary"
          ]
        },
        "phoneInfo": {
          "$ref": "#/definitions/PhoneLinesInfo.PhoneNumberInfo",
          "description": "Phone number information"
        }
      }
    },
    "PhoneLinesInfo.PhoneNumberInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Internal identifier of a phone number"
        },
        "country": {
          "$ref": "#/definitions/CountryInfo",
          "description": "Brief information on a phone number country"
        },
        "location": {
          "type": "string",
          "description": "Location (City, State). Filled for local US numbers"
        },
        "paymentType": {
          "type": "string",
          "description": "Payment type. 'External' is returned for forwarded numbers which are not terminated in the RingCentral phone system",
          "enum": [
            "External",
            "TollFree",
            "Local"
          ]
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number"
        },
        "status": {
          "type": "string",
          "description": "Status of a phone number. If the value is 'Normal', the phone number is ready to be used. Otherwise it is an external number not yet ported to RingCentral"
        },
        "type": {
          "type": "string",
          "description": "Phone number type",
          "enum": [
            "VoiceFax",
            "FaxOnly",
            "VoiceOnly"
          ]
        },
        "usageType": {
          "type": "string",
          "description": "Usage type of the phone number",
          "enum": [
            "MainCompanyNumber",
            "AdditionalCompanyNumber",
            "CompanyNumber",
            "DirectNumber",
            "CompanyFaxNumber",
            "ForwardedNumber"
          ]
        }
      }
    },
    "PhoneNumberInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Internal identifier of a phone number"
        },
        "country": {
          "$ref": "#/definitions/CountryInfo",
          "description": "Brief information on a phone number country"
        },
        "extension": {
          "$ref": "#/definitions/PhoneNumberInfo.ExtensionInfo",
          "description": "Information on the extension, to which the phone number is assigned. Returned only for the request of Account phone number list"
        },
        "features": {
          "type": "array",
          "description": "Indicates if this phone number is enabled to appear as CallerId and/or to send outbound SMS from it. Returned only for the request of Extension phone number list",
          "items": {
            "type": "string"
          }
        },
        "location": {
          "type": "string",
          "description": "Location (City, State). Filled for local US numbers"
        },
        "paymentType": {
          "type": "string",
          "description": "Payment type. 'External' is returned for forwarded numbers which are not terminated in the RingCentral phone system",
          "enum": [
            "External",
            "TollFree",
            "Local"
          ]
        },
        "phoneNumber": {
          "type": "string",
          "description": "Phone number"
        },
        "status": {
          "type": "string",
          "description": "Status of a phone number. If the value is 'Normal', the phone number is ready to be used. Otherwise it is an external number not yet ported to RingCentral"
        },
        "type": {
          "type": "string",
          "description": "Phone number type",
          "enum": [
            "VoiceFax",
            "FaxOnly",
            "VoiceOnly"
          ]
        },
        "usageType": {
          "type": "string",
          "description": "Usage type of the phone number",
          "enum": [
            "MainCompanyNumber",
            "AdditionalCompanyNumber",
            "CompanyNumber",
            "DirectNumber",
            "CompanyFaxNumber",
            "ForwardedNumber"
          ]
        }
      }
    },
    "PhoneNumberInfo.ExtensionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of an extension"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of an extension"
        },
        "extensionNumber": {
          "type": "string",
          "description": "Number of department extension"
        },
        "partnerId": {
          "type": "string",
          "description": "For Partner Applications Internal identifier of an extension created by partner. The RingCentral supports the mapping of accounts and stores the corresponding account ID/extension ID for each partner ID of a client application. In request URIs partner IDs are accepted instead of regular RingCentral native IDs as path parameters using pid = XXX clause. Though in response URIs contain the corresponding account IDs and extension IDs. In all request and response bodies these values are reflected via partnerId attributes of account and extension"
        }
      }
    },
    "PresenceInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Canonical URI of a presence info resource"
        },
        "allowSeeMyPresence": {
          "type": "boolean",
          "description": "If 'True' enables other extensions to see the extension presence status"
        },
        "dndStatus": {
          "type": "string",
          "description": "Extended DnD (Do not Disturb) status. Cannot be set for Department/Announcement/Voicemail (Take Messages Only)/Fax User/Shared Lines Group/Paging Only Group/IVR Menu/Application Extension/Park Location extensions. The 'DoNotAcceptDepartmentCalls' and 'TakeDepartmentCallsOnly' values are applicable only for extensions - members of a Department; if these values are set for department outsiders, the 400 Bad Request error code is returned. The 'TakeDepartmentCallsOnly' status can be set through the old RingCentral user interface and is available for some migrated accounts only.",
          "enum": [
            "TakeAllCalls",
            "DoNotAcceptAnyCalls",
            "DoNotAcceptDepartmentCalls",
            "TakeDepartmentCallsOnly"
          ]
        },
        "extension": {
          "$ref": "#/definitions/PresenceInfo.ExtensionInfo",
          "description": "Information on extension, for which this presence data is returned"
        },
        "message": {
          "type": "string",
          "description": "Custom status message (as previously published by user)"
        },
        "pickUpCallsOnHold": {
          "type": "boolean",
          "description": "If 'True' enables the extension user to pick up a monitored line on hold"
        },
        "presenceStatus": {
          "type": "string",
          "description": "Aggregated presence status, calculated from a number of sources",
          "enum": [
            "Offline",
            "Busy",
            "Available"
          ]
        },
        "ringOnMonitoredCall": {
          "type": "boolean",
          "description": "If 'True' enables to ring extension phone, if any user monitored by this extension is ringing"
        },
        "telephonyStatus": {
          "type": "string",
          "description": "Telephony presence status",
          "enum": [
            "NoCall",
            "CallConnected",
            "Ringing",
            "OnHold",
            "ParkedCall"
          ]
        },
        "userStatus": {
          "type": "string",
          "description": "User-defined presence status (as previously published by the user)",
          "enum": [
            "Offline",
            "Busy",
            "Available"
          ]
        }
      }
    },
    "PresenceInfo.ExtensionInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Internal identifier of an extension"
        },
        "uri": {
          "type": "string",
          "description": "Canonical URI of an extension"
        },
        "extensionNumber": {
          "type": "string",
          "description": "Extension number (usually 3 or 4 digits)"
        }
      }
    },
    "ProfileImageInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Link to a profile image. If an image is not uploaded for an extension, only uri is returned"
        },
        "etag": {
          "type": "string",
          "description": "Identifier of an image"
        },
        "lastModified": {
          "type": "string",
          "description": "The datetime when an image was last updated in ISO 8601 format, for example 2016-03-10T18:07:52.534Z",
          "format": "date-time"
        },
        "contentType": {
          "type": "string",
          "description": "The type of an image"
        },
        "scales": {
          "type": "array",
          "description": "List of URIs to profile images in different dimensions",
          "items": {
            "$ref": "#/definitions/ImageUri"
          }
        }
      }
    },
    "RangesInfo": {
      "type": "object",
      "properties": {
        "from": {
          "type": "string",
          "description": "Date and time in format YYYY-MM-DD hh:mm",
          "format": "date-time"
        },
        "to": {
          "type": "string",
          "description": "Date and time in format YYYY-MM-DD hh:mm",
          "format": "date-time"
        }
      }
    },
    "RecipientInfo": {
      "type": "object",
      "properties": {
        "uri": {
          "type": "string",
          "description": "Link to a recipient extension resource"
        },
        "id": {
          "type": "string",
          "description": "Internal identifier of a recipient extension"
        }
      }
    },
    "RecordingInfo": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "description": "Internal identifier of the call recording"
        },
        "uri": {
          "type": "string",
          "description": "Link to the call recording metadata resource"
        },
        "type": {
          "type": "string",
          "description": "Indicates recording mode used",
          "enum": [
            "Automatic",
            "OnDemand"
          ]
        },
        "contentUri": {
          "type": "string",
          "description": "Link to the call recording binary content"
        }
      }
    },
    "ReferenceInfo": {
      "type": "object",
      "properties": {
        "ref": {
          "type": "string",
          "description": "Non-RC identifier of an extension"
        },
        "type": {
          "type": "string",
          "description": "Type of external identifier",
          "enum": [
            "PartnerId",
            "CustomerDirectoryId"
          ]
[...]
